@media screen and (max-width:800px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    main {
        padding: 0 6%;
    }

    h1 {
        font-size: 1.5em;
    }

    nav {
        height: 11vw;
    }

    .arrowfigure img{
        height:9.1vw;
      }
      
    .header{
    height: 9.1vw;
    padding-left: 22%;
    padding-right: 12%;
    justify-content: right;
    }
    
    .nav-options {
        position: relative;
        margin-top: 37vw;
        align-items: end;
        margin-right: -34.5%;
        background: white;
        z-index: 20;
    }
    .logofigure img{
    width:auto;
    height:8.9vw;
    }
   
    nav ul{
        flex-direction: column;
        margin-top: 40%;
        list-style-type: none;
        z-index: 10;
    }

    nav a{
        color: rgb(140, 100, 170);
        font-size: 13px;
    }
    .lang-ul{
        flex-direction: row;
        margin-top: 0;
    }

    .languages a,
    .languajes h4{
        color: rgb(140, 100, 170);
    }
    .sep{
        color: rgb(140, 100, 170); 
    }

    .row{
        flex-direction: column-reverse;
        margin: 5vw 0vw;
    }

    .ham{
        display: block;
        position: absolute;
        margin-right: -7%;
        margin-top: 2%;
    }

    .ham img{
        width: 18px;
    }

    .lang-imige-mobile{
        display: block;
        width: 19px;
        margin-top: -44px;
        margin-left: 9px;
      }

    .about{
        margin-right: 0;
    }

    .aboutfigure{
        display: none;
    }

    .button{
        margin:0.2em auto;
        padding: 3vw 2.6vw;
    }
    
    .tittle-suport {
        position: absolute;
        margin-left: -50%;
        margin-top: 3%;
        width: 80%;
      }
      
      .tittle-texts {
        padding-top: 7%;
      }
      
      .tittle-div h2{
        font-size: 1.2em;
        margin-left: 3%;
      }
      
      .tittle-div h3 {
        font-size: 1em;
        margin-left: 3%;
        margin-top: 1%;
      }

    footer{
        flex-direction: column;
    }

    footer img{
        width: 5vw;
    }
}

@media screen and (max-width:500px) {
    .nav-options {
        position: relative;
        margin-top: 64vw;
        align-items: end;
        margin-right: 13.5%;
        background: white;
        z-index: 20;
    }

    .ham {
        display: block;
        position: absolute;
        margin-right: 8%;
        margin-top: 2%;
    }
}



@media (min-width: 1200px) and (max-width: 1500px)
nav ul > li a {
    padding: 11px 11px;
    font-size: 13px;
}